Repository ssafy-algoga/algorithm-study, pull requests merged in 2021-02, with the labels that each got.

#26 조의상 : prg 60058 괄호변환
  JoEuiSang/BOJ/9000/9251_dp/README.md
  JoEuiSang/BOJ/9000/9251_dp/answer.java
  JoEuiSang/PRG/level2/60058_stack/README.md
  JoEuiSang/PRG/level2/60058_stack/answer.java
Labels: PRG, 문자열, 재귀

#19 류한길: boj 17413 단어 뒤집기2
  dkdh/BOJ/17000/17413_str/Boj_17413.java
  dkdh/BOJ/17000/17413_str/README.md
  dkdh/BOJ/17000/17413_str/answer.java
Labels: BOJ, 구현, 문자열

#24 이민규 : boj 9251 LCS
  minkue777/BOJ/9000/9251_dp/README.md
  minkue777/BOJ/9000/9251_dp/answer.java
Labels: BOJ, 다이나믹 프로그래밍

#22 윤재문 : boj 9251 LCS
  dss1111/BOJ/17000/17413_str/README.md
  dss1111/BOJ/17000/17413_str/answer.java
  dss1111/BOJ/4000/4963_bfs/README.md
  dss1111/BOJ/4000/4963_bfs/answer.java
  dss1111/BOJ/9000/9251_dp/README.md
  dss1111/BOJ/9000/9251_dp/answer.java
  dss1111/PRG/level2/60058_stack/README.md
  dss1111/PRG/level2/60058_stack/answer.java
Labels: BOJ, 다이나믹 프로그래밍

#27 임영찬 : boj 4963 섬의 개수
  lim8662/BOJ/17000/17413_str/README.md
  lim8662/BOJ/17000/17413_str/answer.java
  lim8662/BOJ/4000/4963_bfs/README.md
  lim8662/BOJ/4000/4963_bfs/answer.java
Labels: BFS/DFS, BOJ

#23 이민규 : PRG 60058 괄호변환
  minkue777/PRG/level2/60058_stack/README.md
  minkue777/PRG/level2/60058_stack/answer.java
Labels: PRG, 문자열

#18 이민규: boj17413 단어뒤집기2
  minkue777/BOJ/17000/17413_str/README.md
  minkue777/BOJ/17000/17413_str/answer.java
  minkue777/BOJ/17000/17413_str/figure/1.jpg
  minkue777/BOJ/17000/17413_str/figure/2.jpg
Labels: BOJ, 문자열, 재귀

#17 이민규: boj4963 섬의 개수
  minkue777/BOJ/4000/4963_bfs/README.md
  minkue777/BOJ/4000/4963_bfs/answer.java
Labels: BFS/DFS, BOJ

#31 김유진 BOJ 17413 단어뒤집기2 & BOJ 4963 섬의개수
  newjini/BOJ/17000/17413_str/README.md
  newjini/BOJ/17000/17413_str/answer.java
  newjini/BOJ/17000/17413_str/boj_17413.java
  newjini/BOJ/4000/4963_bfs/README.md
  newjini/BOJ/4000/4963_bfs/README_4963.md
  newjini/BOJ/4000/4963_bfs/answer.java
  newjini/BOJ/4000/4963_bfs/boj_4963.java
Labels: BFS/DFS, BOJ, 구현

#21 이연주 : boj 4963 섬의 개수
  Joylish/BOJ/4000/4963_bfs/README.md
  Joylish/BOJ/4000/4963_bfs/answer.java
Labels: BFS/DFS, BOJ, 구현

#33 류한길 : BOJ 4963 DFS 섬의 개수
  dkdh/BOJ/4000/4963_bfs/Boj_4963.java
  dkdh/BOJ/4000/4963_bfs/README.md
  dkdh/BOJ/4000/4963_bfs/answer.java
  dkdh/PRG/level2/60058_stack/README.md
  dkdh/PRG/level2/60058_stack/Solution_60058.java
  dkdh/PRG/level2/60058_stack/answer.java
Labels: BFS/DFS, BOJ

#34 류한길 : PRG 60058 괄호변환
  dkdh/BOJ/4000/4963_bfs/Boj_4963.java
  dkdh/BOJ/4000/4963_bfs/README.md
  dkdh/BOJ/4000/4963_bfs/answer.java
  dkdh/PRG/level2/60058_stack/README.md
  dkdh/PRG/level2/60058_stack/Solution_60058.java
  dkdh/PRG/level2/60058_stack/answer.java
Labels: PRG, 문자열

#35 이연주 : prg 60058 괄호변환
  Joylish/PRG/level2/60058_recur/README.md
  Joylish/PRG/level2/60058_recur/answer.java
  Joylish/PRG/level2/60058_recur/images/condition.png
  Joylish/PRG/level2/60058_recur/images/memo.jpg
Labels: PRG, 문자열, 재귀

#30 조의상 : boj 9251 LCS
  JoEuiSang/BOJ/1000/1051_완전탐색/README.md
  JoEuiSang/BOJ/1000/1051_완전탐색/answer.java
  JoEuiSang/BOJ/9000/9251_dp/README.md
  JoEuiSang/BOJ/9000/9251_dp/answer.java
Labels: BOJ, 다이나믹 프로그래밍

#49 이종완 : boj 11404 플로이드
  LEEJ0NGWAN/BOJ/1000/1051/P1051.java
  LEEJ0NGWAN/BOJ/1000/1051/README.md
  LEEJ0NGWAN/BOJ/1000/1697/P1697.java
  LEEJ0NGWAN/BOJ/1000/1697/README.md
  LEEJ0NGWAN/BOJ/11000/11404/P11404.java
  LEEJ0NGWAN/BOJ/11000/11404/README.md
  LEEJ0NGWAN/BOJ/15000/15663/P15663.java
  LEEJ0NGWAN/BOJ/15000/15663/README.md
  jihyunhillpark/BOJ/1000/1051/P1051.java
  jihyunhillpark/BOJ/1000/1051/README.md
  jihyunhillpark/BOJ/1000/1697/P1697.java
  jihyunhillpark/BOJ/1000/1697/README.md
  jihyunhillpark/BOJ/11000/11404/P11404.java
  jihyunhillpark/BOJ/11000/11404/README.md
  jihyunhillpark/BOJ/15000/15663/P15663.java
  jihyunhillpark/BOJ/15000/15663/README.md
  jihyunhillpark/BOJ/17000/17413_str/README.md
  jihyunhillpark/BOJ/17000/17413_str/answer.java
  jihyunhillpark/BOJ/4000/4963_bfs/README.md
  jihyunhillpark/BOJ/4000/4963_bfs/answer.java
  jihyunhillpark/BOJ/9000/9251_dp/9251_paint.jpg
  jihyunhillpark/BOJ/9000/9251_dp/9251_result.jpg
  jihyunhillpark/BOJ/9000/9251_dp/README.md
  jihyunhillpark/BOJ/9000/9251_dp/answer.java
  jihyunhillpark/PRG/level2/60058_stack/README.md
  jihyunhillpark/PRG/level2/60058_stack/answer.java
  lktgt15/BOJ/1000/1051/P1051.java
  lktgt15/BOJ/1000/1051/README.md
  lktgt15/BOJ/1000/1697/P1697.java
  lktgt15/BOJ/1000/1697/README.md
  lktgt15/BOJ/11000/11404/P11404.java
  lktgt15/BOJ/11000/11404/README.md
  lktgt15/BOJ/15000/15663/P15663.java
  lktgt15/BOJ/15000/15663/README.md
  lktgt15/BOJ/17000/17413_str/README.md
  lktgt15/BOJ/17000/17413_str/answer.java
  lktgt15/BOJ/4000/4963_bfs/README.md
  lktgt15/BOJ/4000/4963_bfs/answer.java
  lktgt15/BOJ/9000/9251_dp/9251_paint.jpg
  lktgt15/BOJ/9000/9251_dp/9251_result.jpg
  lktgt15/BOJ/9000/9251_dp/README.md
  lktgt15/BOJ/9000/9251_dp/answer.java
  lktgt15/PRG/level2/60058_stack/README.md
  lktgt15/PRG/level2/60058_stack/answer.java
Labels: BOJ, 플로이드와샬

#47 이민규 : boj 1051 숫자 정사각형
  minkue777/BOJ/1000/1051/README.md
  minkue777/BOJ/1000/1051/answer.java
Labels: BOJ, 백트래킹, 브루트포스

#48 이민규 : boj 15663 N과 M (9)
  minkue777/BOJ/15000/15663/README.md
  minkue777/BOJ/15000/15663/answer.java
Labels: BOJ, 백트래킹, 재귀, 조합론

#50 이민규 : boj 11404 플로이드
  minkue777/BOJ/11000/11404/README.md
  minkue777/BOJ/11000/11404/answer.java
Labels: BOJ, 다이나믹 프로그래밍, 최단경로, 플로이드와샬

#52 이민규 : boj 1697 숨바꼭질
  minkue777/BOJ/1000/1697/README.md
  minkue777/BOJ/1000/1697/answer.java
Labels: BFS/DFS, BOJ, 최단경로

#65 김유진 : BOJ 11404 플로이드
  newjini/BOJ/11000/11404/README_11404.md
  newjini/BOJ/11000/11404/boj_11404.java
Labels: BOJ, 플로이드와샬

#62 이연주 : boj 1051 숫자 정사각형
  Joylish/BOJ/1000/1051_bruteforce/Main.java
  Joylish/BOJ/1000/1051_bruteforce/README.md
  Joylish/BOJ/1000/1051_bruteforce/images/memo.jpg
Labels: BOJ, 브루트포스

#46 임영찬 : boj 15663 N과M(9)
  lim8662/BOJ/15000/15663_back/README.md
  lim8662/BOJ/15000/15663_back/boj_15663_back.java
Labels: BOJ, 백트래킹

#56 류한길: BOJ 15663 N과 M(9)
  dkdh/BOJ/15000/15663/Main_15663.java
  dkdh/BOJ/15000/15663/README.md
  dkdh/README.md
Labels: BOJ, 재귀

#61 윤재문 : boj 1051 숫자 정사각형
  dss1111/BOJ/1000/1051_bruteForce/answer.java
  dss1111/BOJ/1000/1051_bruteForce/readme.md
Labels: BOJ, 브루트포스

#64 윤재문 : boj 11404 플로이드
  dss1111/BOJ/11000/11404/answer.java
  dss1111/BOJ/11000/11404/readme.md
Labels: BOJ, 플로이드와샬

#58 윤재문 : boj 15663 N과 M(9)
  dss1111/BOJ/15000/15663/answer.java
  dss1111/BOJ/15000/15663/readme.md
Labels: BOJ, 백트래킹

#74 윤재문 : boj 1697 숨바꼭질
  dss1111/BOJ/1000/1697_bfs/readme.md
  dss1111/BOJ/1000/1697_bfs/solution.java
Labels: BFS/DFS, BOJ

#69 김유진 : BOJ 15663 N과M(9)
  newjini/BOJ/15000/15663/README_15663.md
  newjini/BOJ/15000/15663/boj_15663.java
Labels: BOJ, 순열, 재귀

#87 이연주 : boj 1697 숨바꼭질
  Joylish/BOJ/1000/1697_bfs/Main.java
  Joylish/BOJ/1000/1697_bfs/README.md
Labels: BFS/DFS, BOJ

#86 이연주 : boj 15663 N과M(9)
  Joylish/BOJ/15000/15663_recur/Main.java
  Joylish/BOJ/15000/15663_recur/README.md
Labels: BOJ, 재귀

#67 김혜인 : boj 1051 숫자 정사각형
  haileyHi/BOJ/1000/1051_BF/NumberRectangle.java
  haileyHi/BOJ/1000/1051_BF/README.md
  haileyHi/BOJ/11000/11404_Floyd-Warshall/FloydWarshall.java
  haileyHi/BOJ/11000/11404_Floyd-Warshall/README.md
  haileyHi/BOJ/15000/15663_Backtracking/Permutation.java
  haileyHi/BOJ/15000/15663_Backtracking/README.md
Labels: BOJ, 브루트포스

#68 조의상 : boj 15663 N과 M(9)
  JoEuiSang/BOJ/1000/1697_bfs/README.md
  JoEuiSang/BOJ/1000/1697_bfs/answer.java
  JoEuiSang/BOJ/15000/15663_수열,조합/README.md
  JoEuiSang/BOJ/15000/15663_수열,조합/answer.java
Labels: BOJ, 백트래킹

#75 조의상 : BOJ 11404 플로이드
  JoEuiSang/BOJ/1000/1051_완전탐색/README.md
  JoEuiSang/BOJ/1000/1051_완전탐색/answer.java
  JoEuiSang/BOJ/11000/11404-floyd/README.md
  JoEuiSang/BOJ/11000/11404-floyd/answer.java
Labels: BOJ, 최단경로, 플로이드와샬

#73 김혜인 : BOJ 15663 N과 M(9)
  haileyHi/BOJ/15000/15663_Backtracking/README.md
Labels: BOJ, 백트래킹

#117 조의상 : boj 13549 숨바꼭질3
  JoEuiSang/BOJ/13000/13549_BFS, 다익스트라/README.md
  JoEuiSang/BOJ/13000/13549_BFS, 다익스트라/answer.java
Labels: BFS/DFS, BOJ

#121 조의상 : boj 1018 체스판 다시 칠하기
  JoEuiSang/BOJ/1000/1018_브루트포스/README.md
  JoEuiSang/BOJ/1000/1018_브루트포스/answer.java
Labels: BOJ, 브루트포스

#137 임영찬 : boj 9663 N-Queen G5
  lim8662/BOJ/1000/1018_BF/boj_1018_bruteForce.java
  lim8662/BOJ/1000/1463_DP/boj_1463_DP.java
  lim8662/BOJ/9000/9663_dfs/README.md
  lim8662/BOJ/9000/9663_dfs/boj_9663_Nqueen.java
Labels: BFS/DFS, BOJ, 비트마스킹

#136 김유진 : boj 1463 1로 만들기
  newjini/BOJ/1000/1463/README_1463.md
  newjini/BOJ/1000/1463/boj_1463.java
Labels: BOJ, 다이나믹 프로그래밍

#135 박지현 : boj 1463 1로 만들기
  jihyunhillpark/BOJ/1000/1463/README.md
  jihyunhillpark/BOJ/1000/1463/answer.java
  jihyunhillpark/BOJ/9000/9663_완전탐색/README.md
  jihyunhillpark/BOJ/9000/9663_완전탐색/answer.java
Labels: BOJ, 다이나믹 프로그래밍

#133 김혜인 : boj 1463 1로 만들기
  haileyHi/BOJ/1000/1463_DP/BOJ_Making1_1463.java
  haileyHi/BOJ/1000/1463_DP/README.md
Labels: BFS/DFS, BOJ

#134 박지현 : boj 9663 N-Queen
  jihyunhillpark/BOJ/1000/1463/README.md
Labels: BOJ, 백트래킹, 브루트포스

#131 이민규 : boj 9663 N-Queen
  minkue777/BOJ/9000/9663/README.md
  minkue777/BOJ/9000/9663/answer.java
Labels: BOJ, 백트래킹, 브루트포스, 재귀

#130 김유진 : boj 1018 체스판 다시 칠하기
  newjini/BOJ/1000/1018/README_1018.md
  newjini/BOJ/1000/1018/boj_1018.java
Labels: BOJ, 브루트포스

#129 임규태 : boj 1463 1로 만들기
  lktgt15/BOJ/1000/1018/answer.java
  lktgt15/BOJ/1000/1018/readme.md
  lktgt15/BOJ/1000/1463/answer.java
  lktgt15/BOJ/1000/1463/readme.md
Labels: BOJ, 다이나믹 프로그래밍

#127 이민규 : boj 1018 체스판 다시 칠하기
  minkue777/BOJ/1000/1018/README.md
  minkue777/BOJ/1000/1018/answer.java
Labels: BOJ, 브루트포스

#126 이민규 : boj 1463 1로 만들기
  minkue777/BOJ/1000/1463/README.md
  minkue777/BOJ/1000/1463/answer.java
Labels: BOJ, 다이나믹 프로그래밍, 브루트포스, 재귀

#120 김혜인 : boj 1018 체스판 다시 칠하기
  haileyHi/BOJ/1000/1018_BF/BOJ_ColoringChess_1018.java
  haileyHi/BOJ/1000/1018_BF/README.md
Labels: BOJ, 브루트포스

#119 김혜인 : boj 13549 숨바꼭질3
  haileyHi/BOJ/13000/13549_bfs/HideAndSeek3.java
  haileyHi/BOJ/13000/13549_bfs/README.md
Labels: BFS/DFS, BOJ

#118 이종완 : boj 1018 체스판 다시 칠하기
  LEEJ0NGWAN/BOJ/1000/1018/README.md
  LEEJ0NGWAN/BOJ/1000/1018/answer.java
Labels: BOJ, 브루트포스

#116 이종완 : boj 1463 1로 만들기
  LEEJ0NGWAN/BOJ/1000/1463/README.md
  LEEJ0NGWAN/BOJ/1000/1463/answer.java
Labels: BOJ, 다이나믹 프로그래밍

#115 이종완 : boj 13549 숨바꼭질 3
  LEEJ0NGWAN/BOJ/10000/13549/README.md
  LEEJ0NGWAN/BOJ/10000/13549/answer.java
Labels: BFS/DFS, BOJ

#114 이종완 : boj 9663 N-Queen
  LEEJ0NGWAN/BOJ/9000/9663/README.md
  LEEJ0NGWAN/BOJ/9000/9663/answer.java
Labels: BFS/DFS, BOJ, 백트래킹

#113 윤재문 : boj 1463 1로 만들기
  dss1111/BOJ/1000/1463_bfs/Main.java
  dss1111/BOJ/1000/1463_bfs/readme.md
Labels: BFS/DFS, BOJ

#112 윤재문 : boj 13549 숨바꼭질 3
  dss1111/BOJ/13000/13549_bfs/readme.md
  dss1111/BOJ/13000/13549_bfs/solution.java
Labels: BFS/DFS, BOJ, 우선순위큐

#111 윤재문 : boj 1018 체스판 다시 칠하기
  dss1111/BOJ/1000/1018_bruteforce/readme.md
  dss1111/BOJ/1000/1018_bruteforce/solution.java
Labels: BOJ, 브루트포스

#107 이민규 : boj 13549 숨바꼭질 3
  minkue777/BOJ/13000/13549/README.md
  minkue777/BOJ/13000/13549/answer_deque.java
  minkue777/BOJ/13000/13549/answer_dijkstra.java
Labels: BFS/DFS, BOJ, 다익스트라, 우선순위큐

#89 이연주 : boj 13549 숨바꼭질3
  Joylish/BOJ/13000/13549_bfs/Main.java
  Joylish/BOJ/13000/13549_bfs/README.md
Labels: BFS/DFS, BOJ

#145 윤재문 : boj 20422 퀼린드롬(Easy)
  dss1111/BOJ/20000/20422_str/Main.java
  dss1111/BOJ/20000/20422_str/readme.md
Labels: BOJ, 문자열

#139 윤재문 : boj 14502 연구소
  dss1111/BOJ/14000/14502_bfs/Main.java
  dss1111/BOJ/14000/14502_bfs/readme.md
Labels: BFS/DFS, BOJ, 브루트포스, 조합론

#153 임영찬 : boj 16166 서울의 지하철
  lim8662/BOJ/16000/README.md
  lim8662/BOJ/16000/boj_16166_subway.java
  lim8662/BOJ/20000/boj_20422_str.java
Labels: BFS/DFS, BOJ

#155 임영찬 : boj 20422 퀼린드롬(Easy)
  lim8662/BOJ/20000/README.md
  lim8662/BOJ/20000/boj_20422_str.java
Labels: BOJ, 구현, 문자열

#138 임규태 : boj 16166 서울의 지하철
  lktgt15/BOJ/16000/16166/answer.java
  lktgt15/BOJ/16000/16166/images/performance.png
  lktgt15/BOJ/16000/16166/readme.md
Labels: BFS/DFS, BOJ

#140 김유진 : boj 16166 서울의 지하철
  newjini/BOJ/16000/16166/README_16166.md
  newjini/BOJ/16000/16166/boj_16166.java
Labels: BFS/DFS, BOJ

#144 이연주 : boj 16166 서울의지하철
  Joylish/BOJ/16000/16166_bfs_bit/Main.java
  Joylish/BOJ/16000/16166_bfs_bit/README.md
Labels: BFS/DFS, BOJ, 비트마스킹

#146 이민규 : boj 16166 서울의 지하철
  minkue777/BOJ/16000/16166/README.md
  minkue777/BOJ/16000/16166/answer.java
Labels: BFS/DFS, BOJ, 구현, 최단경로

#147 이민규 : boj 20422 퀼린드롬 (Easy)
  minkue777/BOJ/20000/20422/README.md
  minkue777/BOJ/20000/20422/answer.java
Labels: BOJ, 구현, 문자열

#148 이민규 : boj 14502 연구소
  minkue777/BOJ/14000/14502/README.md
  minkue777/BOJ/14000/14502/answer.java
Labels: BFS/DFS, 구현, 브루트포스, 시뮬레이션

#149 조의상 : boj 20422 퀼린드롬 (Easy)
  JoEuiSang/BOJ/20000/20422_문자열/README.md
  JoEuiSang/BOJ/20000/20422_문자열/answer.java
Labels: BOJ, 구현, 문자열

#156 김혜인 : boj 20422 퀼린드롬(Easy)
  haileyHi/BOJ/20000/20422_String/BOJ_Quilindrome_20422.java
  haileyHi/BOJ/20000/20422_String/README.md
Labels: BOJ, 구현, 문자열

#159 이민규 : boj 2098 외판원 순회
  minkue777/BOJ/2000/2098/README.md
  minkue777/BOJ/2000/2098/answer.java
Labels: BOJ, 다이나믹프로그래밍 by Bit
