Repository ssafy-algoga/algorithm-study, pull requests merged in 2021-03, with the labels that each got.

#161 윤재문 : boj 14594 동방프로젝트(small)
  dss1111/BOJ/14000/14594/Main.java
  dss1111/BOJ/14000/14594/readme.md
Labels: BOJ, 시뮬레이션

#162 윤재문 : boj 9020 골드바흐의 추측
  dss1111/BOJ/9000/9020_math/Main.java
  dss1111/BOJ/9000/9020_math/readme.md
Labels: BOJ, 수학

#163 윤재문 : boj 11559 Puyo Puyo
  dss1111/BOJ/11000/11559_bfs/Main.java
  dss1111/BOJ/11000/11559_bfs/readme.md
Labels: BFS/DFS, BOJ, 구현

#164 임영찬 : boj 14594 동방 프로젝트(small)
  lim8662/BOJ/14000/14594_imp/README.md
  lim8662/BOJ/14000/14594_imp/boj_14594_dongbang.java
Labels: BOJ, 구현

#165 이민규 : boj 14594 동방프로젝트 (Small)
  minkue777/BOJ/14000/14594/README.md
  minkue777/BOJ/14000/14594/answer.java
Labels: BOJ, 구현, 분리집합, 트리

#170 이민규 : boj 1202 보석 도둑
  minkue777/BOJ/1000/1202/README.md
  minkue777/BOJ/1000/1202/answer.java
Labels: BOJ, 구현, 우선순위큐, 정렬

#173 윤재문 : boj 1202 보석 도둑
  dss1111/BOJ/1000/1202_greedy/Main.java
  dss1111/BOJ/1000/1202_greedy/readme.md
Labels: BOJ, 그리디, 우선순위큐

#176 이민규 : boj 9020 골드바흐의 추측
  minkue777/BOJ/9000/9020/README.md
  minkue777/BOJ/9000/9020/answer.java
Labels: BOJ, 수학, 투포인터

#177 임영찬 : boj 9020 골드바흐의 추측
  lim8662/BOJ/9000/9020_math/README.md
  lim8662/BOJ/9000/9020_math/boj_9020_goldbach.java
Labels: BOJ, 수학

#179 박지현 : boj 9020 골드바흐의 추측
  jihyunhillpark/BOJ/9000/9020/README.md
  jihyunhillpark/BOJ/9000/9020/answer.java
Labels: BOJ, 수학

#180 김유진 : boj 9020 골드바흐의 추측
  newjini/BOJ/9000/9020/README_9020.md
  newjini/BOJ/9000/9020/boj_9020.java
Labels: BOJ, 수학

#182 김혜인 : boj 6588 골드바흐의 추측
  haileyHi/BOJ/6000/6588_Prime/BOJ_Goldbach_6588.java
  haileyHi/BOJ/6000/6588_Prime/README.md
Labels: BOJ, 수학

#183 김혜인 : boj 14594 동방 프로젝트 small
  haileyHi/BOJ/14000/14594_Implementation/BOJ_DongBang_14594.java
  haileyHi/BOJ/14000/14594_Implementation/README.md
Labels: BOJ, 구현

#184 이민규 : boj 11559 Puyo Puyo
  minkue777/BOJ/11000/11559/README.md
  minkue777/BOJ/11000/11559/answer.java
Labels: BFS/DFS, BOJ, 구현

#185 조의상 : boj 14594 동방프로젝트 small
  JoEuiSang/BOJ/14000/14594_구현/README.md
  JoEuiSang/BOJ/14000/14594_구현/answer.java
Labels: BOJ, 구현

#187 김혜인 : boj 1202 보석 도둑
  haileyHi/BOJ/1000/1202_PQ/BOJ_JewelThief_1202.java
  haileyHi/BOJ/1000/1202_PQ/README.md
Labels: BOJ, 그리디, 우선순위큐

#190 이민규 : boj 1991 트리 순회
  minkue777/BOJ/1000/1991/README.md
  minkue777/BOJ/1000/1991/answer.java
Labels: BOJ, 재귀, 트리

#193 임규태 : boj 12015 가장 긴 증가하는 부분수열 2
  lktgt15/BOJ/12000/12015/README.md
  lktgt15/BOJ/12000/12015/answer.java
Labels: BOJ, 이분탐색

#194 이민규 : boj 12015 가장 긴 증가하는 부분 수열 2
  minkue777/BOJ/12000/12015/README.md
  minkue777/BOJ/12000/12015/answer.java
Labels: BOJ, 다이나믹 프로그래밍, 브루트포스, 이분탐색, 재귀

#195 이민규 : boj 17143 낚시왕
  minkue777/BOJ/17000/17143/README.md
  minkue777/BOJ/17000/17143/answer.java
Labels: BOJ, 구현, 시뮬레이션

#196 윤재문 : boj 1991 트리 순회
  dss1111/BOJ/1000/1991_tree/Main.java
  dss1111/BOJ/1000/1991_tree/readme.md
Labels: BOJ, 재귀, 트리

#197 윤재문 : boj 12015 가장 긴 증가하는 부분 수열 2
  dss1111/BOJ/12000/12015_LIS/Main.java
  dss1111/BOJ/12000/12015_LIS/readme.md
Labels: BOJ, 다이나믹 프로그래밍

#198 조의상 : boj 1991 트리 순회
  JoEuiSang/BOJ/1000/1991_재귀/README.md
  JoEuiSang/BOJ/1000/1991_재귀/answer.java
Labels: BOJ, 재귀, 트리

#201 이민규 : boj 2533 사회망 서비스(SNS)
  minkue777/BOJ/2000/2533/README.md
  minkue777/BOJ/2000/2533/answer.java
Labels: BFS/DFS, BOJ, 다이나믹 프로그래밍 by Tree

#202 조의상 : boj 1197 최소스패닝트리
  JoEuiSang/BOJ/1000/1197_MST/README.md
  JoEuiSang/BOJ/1000/1197_MST/answer.java
Labels: BOJ, 최소스패닝트리

#212 임규태 : boj 16562 친구비
  lktgt15/BOJ/16000/16562/README.md
  lktgt15/BOJ/16000/16562/answer.java
Labels: BOJ, 분리집합

#211 임규태 : boj 1197 최소 스패닝 트리
  lktgt15/BOJ/1000/1197/README.md
  lktgt15/BOJ/1000/1197/answer.java
Labels: BOJ, 분리집합, 최소스패닝트리

#209 이민규 : boj 16562 친구비
  minkue777/BOJ/16000/16562/README.md
  minkue777/BOJ/16000/16562/answer.java
Labels: BOJ, 분리집합

#208 이민규 : boj 11437 LCA
  minkue777/BOJ/11000/11437/README.md
  minkue777/BOJ/11000/11437/answer.java
Labels: BFS/DFS, BOJ, 최소공통조상

#207 이민규 : boj 14725 개미굴
  minkue777/BOJ/14000/14725/README.md
  minkue777/BOJ/14000/14725/answer.java
Labels: BOJ, 문자열, 트라이, 트리

#206 이민규 : boj 1197 최소 스패닝 트리
  minkue777/BOJ/1000/1197/README.md
  minkue777/BOJ/1000/1197/answer.java
Labels: BOJ, 그리디, 분리집합, 최소스패닝트리

#213 임규태 : boj 3613 Java vs C++
  lktgt15/BOJ/3000/3613/README.md
  lktgt15/BOJ/3000/3613/answer.java
Labels: BOJ, 구현, 문자열

#214 이연주 : BOJ 3613 Java vs C++
  Joylish/BOJ/3000/3613_str/Main.java
  Joylish/BOJ/3000/3613_str/README.md
Labels: BOJ, 문자열, 정규표현식

#215 윤재문 : boj 2573 빙산
  dss1111/BOJ/2000/2573_bfs/Main.java
  dss1111/BOJ/2000/2573_bfs/readme.md
Labels: BFS/DFS, BOJ, 구현

#216 박지현 : boj 2293 동전1
  jihyunhillpark/BOJ/2000/2293/README.md
  jihyunhillpark/BOJ/2000/2293/answer.java
Labels: BOJ, 다이나믹 프로그래밍

#219 임영찬 : boj 3613 JAVA vs C++
  lim8662/BOJ/3000/3613_str/README.md
  lim8662/BOJ/3000/3613_str/boj_3613_str.java
Labels: BOJ, 문자열, 정규표현식

#222 이민규 : boj 2573 빙산
  minkue777/BOJ/2000/2573/README.md
  minkue777/BOJ/2000/2573/answer.java
Labels: BFS/DFS, BOJ, 구현, 시뮬레이션

#223 이민규 : boj 2293 동전 1
  minkue777/BOJ/2000/2293/README.md
  minkue777/BOJ/2000/2293/answer.java
Labels: BOJ, 다이나믹 프로그래밍

#224 이민규 : boj 3613 Java vs C++
  minkue777/BOJ/3000/3613/README.md
  minkue777/BOJ/3000/3613/answer.java
Labels: BOJ, 문자열, 정규표현식

#225 이민규 : boj 16235 나무 재테크
  minkue777/BOJ/16000/16235/README.md
  minkue777/BOJ/16000/16235/answer.java
Labels: BOJ, 구현, 시뮬레이션, 정렬

#226 임규태 : boj 16235 나무 재테크
  lktgt15/BOJ/16000/16235/README.md
  lktgt15/BOJ/16000/16235/answer.java
Labels: BOJ, 구현, 우선순위큐
